@import "./layout/header";
@import "./layout/footer";
@import "./layout/slides";
@import "./layout/main";
@import "./layout/sidebar";
@import "./layout/sponsors";
@import "./layout/singleview";
@import "./style/variables";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
}

img {
  width: 100%;
}

h2 {
  font-weight: $font-weight-header;
  margin-bottom: $margin-bottom-text;
  line-height: 100%;
}

p {
  color: $dark-text;
}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 35vw 35vw 30vw;
    grid-template-rows: auto;

    .header {
      @include body-grid(1, 1, 2, 4);
    }

    .slide {
      @include body-grid(1, 1, 2, 4);
    }

    .main {
      @include body-grid(3, 1, 5, 3);
    }

    .sidebar {
      @include body-grid(3, 3, 5, 4);
    }

    .sponsors {
      @include body-grid(5, 1, 6, 4);
    }

    .footer {
      @include body-grid(6, 1, 7, 4);
    }
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
}
