// general style

$dark-background: #121212;
$blue-link: #44aaee;
$white-text: #fff;
$dark-text: #1b1919;
$font-weight-header: 100;
$margin-bottom-text: 2vh;

@mixin body-grid($row-start, $column-start, $row-end, $column-end) {
  grid-row-start: $row-start;
  grid-column-start: $column-start;
  grid-row-end: $row-end;
  grid-column-end: $column-end;
}
