@import "../style/variables";

footer {
  background-color: $dark-background;
  color: $white-text;
  padding: 10vw 4vw;

  .col {
    margin: 0 0 10vw;

    h2 {
      color: #ffffffe3;
    }

    p,
    q,
    a,
    address {
      color: #666565;
    }

    strong,
    h4 {
      color: #a5a5a5;
    }
  }

  a {
    color: $white-text;
  }

  .flickr img {
    width: 32%;
    filter: grayscale(1);
  }

  .some-icons {
    text-align: start;
    margin: 5vw 0;
    cursor: pointer;
  }

  .col-1 > * {
    margin-bottom: 2vh;
  }
}

@media screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6vw 0 12vw 4vw;

    .col {
      margin: 0 3vw 0 0;
      &:last-of-type {
        margin: 0;
      }

      a {
        font-size: 0.9rem;
      }

      .some-icons {
        max-width: 20vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 6px;

        img {
          width: 6vw;
        }
      }
    }

    .col-1 > * {
      margin-bottom: 1vh;
    }
  }
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 0;

    .col {
      margin: 0;
      padding: 4vw;

      .some-icons {
        display: flex;

        img {
          width: 4vw;
        }
      }
    }
  }
}
