@import "../style/variables";

.header {
  background: $dark-background;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.logo img {
  width: 70vw;
  margin: 2vh 0;
  margin-block: 2vh;
}

.desktop_nav {
  // visibility: hidden;
  display: none;
}

.mobile_nav li {
  margin-bottom: 4vh;
  text-align: end;

  a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 6vw;
    opacity: 0.9;
  }
}

.hidden {
  visibility: hidden;
}

#menu-button {
  position: fixed;
  top: 4vw;
  right: -6vw;
  width: 5rem;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#menu {
  position: absolute;
  transition: transform 0.5s;
  transform-origin: top right;
  background: #121212;
  width: 100vw;
  height: 100vh;
  padding-top: 4vh;
}

.search {
  margin-left: 55vw;
  border-radius: 20px;
  padding: 1vw;
  margin-bottom: 2vh;
  border: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .logo img {
    width: 48vw;
    margin: 1vw;
  }

  #menu-button {
    top: 1vw;
    right: 2vw;
    font-size: 3rem;
  }

  .search {
    margin-left: 72vw;
  }
}

@media screen and (min-width: 1200px) {
  .desktop_nav {
    display: flex;
    justify-content: space-evenly;

    a {
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      font-size: 1rem;
      opacity: 0.9;

      &:hover {
        border-bottom: 1px solid;
        transition: 0.4s;
      }
    }
  }
  .mobile_nav {
    visibility: hidden;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 4vw 6vw;
    padding-top: 4vh;
  }

  nav {
    grid-column: 2/9;
    grid-row: 2/3;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 4px 0 0 1vw;
    margin-top: -0.5vw;

    img {
      width: 34vw;
      margin: 0;
      padding-top: 0;
    }
  }

  .search {
    margin-left: 0;
    grid-column: 6/8;
    grid-row: 1/2;
    justify-self: center;
    padding: 0.5vw 3vw;
  }
}
