@import "../style/variables";

.postsWrapper {
  img {
    width: 30vw;
    float: left;
    margin: 0 4vw 2vw 0;
  }

  article {
    padding: 4vw;
    border-bottom: 1px solid #00000033;
  }

  h5 {
    color: $blue-link;
    margin-bottom: $margin-bottom-text;
    font-weight: inherit;
  }

  p {
    color: $dark-text;
  }

  button {
    appearance: none;
    border: transparent;
    padding: 2vw 6vw;
    border-radius: 6px;
    background: $blue-link;
    color: $white-text;
    margin: 6vw 0 4vw 50vw;
    outline: none;

    &:hover {
      background: white;
      border: 1px solid #44aaee;
      border-radius: 6px;
      color: #44aaee;
      transition: 0.4s;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10vw;

  button {
    height: 40px;
    width: 40px;
    color: #00000091;
    font-size: 18px;
    margin: 5px 0 5px 5px;
    border: none;
    outline: none;
    transition: 0.5s;

    &:hover {
      background-color: #0000004a;
      color: $white-text;
    }

    &.active {
      background-color: #0000004a;
      color: $white-text;
    }
  }
}

@media screen and (min-width: 768px) {
  .postsWrapper {
    article {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto 2fr auto;
      img {
        float: none;
        margin: 0;
        grid-column: 1/3;
        grid-row: 1/5;
      }
      h2 {
        grid-column: 3/6;
        grid-row: 1/2;
      }
      h5 {
        grid-column: 3/5;
        grid-row: 2/3;
      }
      p {
        grid-column: 3/6;
        grid-row: 3/4;
        margin-bottom: 2vh;
      }
      button {
        grid-column: 3/4;
        grid-row: 4/5;
        padding: 1.5vw 2vw;
        font-size: 1rem;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 0 4vw;
  }
  .postsWrapper {
    article {
      margin-bottom: 1vh;
      img {
        width: 16vw;
        border: 6px solid #00000033;
      }

      button {
        padding: 1vw 2vw;
      }
    }
  }

  .pagination {
    justify-content: start;
    margin: 0vw;
  }
}
