@import "../style/variables";

.sidebar {
  background-color: #dcdcdc87;
  padding: 10vw;

  & > * {
    margin-bottom: 6vh;
  }

  p {
    margin-bottom: $margin-bottom-text;
    line-height: 1.5;
  }

  ul {
    padding: 0;
    margin: 8vw 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: $blue-link;
    text-decoration: none;

    &:hover {
      color: $dark-text;
    }
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    padding: 5vw 0vw;
    justify-content: space-evenly;
    & > * {
      padding: 4vw;
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 0;
    }

    li p {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    flex-direction: column;
    max-width: 25vw;
    padding: 0;
    justify-self: end;
    padding-bottom: 4vw;

    & > * {
      padding-bottom: 0;
    }
    p {
      line-height: 2;
    }
  }
}
