@import "../style/variables";

.main-singleview {
  padding-top: 16vh;
  margin: 0 0 14vw 0;

  h1,
  p,
  a {
    padding: 4vw 4vw 0 4vw;
  }

  .back {
    margin: 4vw 0;

    & > * {
      text-decoration: none;
      color: $blue-link;
      &:hover {
        color: $dark-text;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main-singleview {
    section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 4vw;
      margin-top: 4vh;

      .text {
        grid-column: 2/4;
      }
    }

    p,
    a {
      padding-top: 2vw;
    }

    h1 {
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .main-singleview {
    min-width: 1200px;
    padding-top: 20vh;
    margin: 0 0 2vw 0;
  }
}
