@import "../style/variables";

.slide {
  background-color: $dark-background;
  margin-bottom: 4vh;

  figure {
    padding-top: 16vh;
    img {
      height: 36vh;
      object-fit: cover;
    }
  }
}

.slide h3 {
  color: #666565;
  font-family: "PT Serif", serif;
  margin: 4vw;
}

.some-icons {
  text-align: end;
  margin: 2vw;
  cursor: pointer;
  img {
    width: 12vw;
  }
}

@media screen and(min-width:768px) {
  .slide figure {
    padding-top: 14vh;
  }
  .slides-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 4vw 2vw;
    h3 {
      grid-column: 1/4;
      margin: 0;
    }
    .some-icons {
      grid-column: 4/6;
      margin: 0;
      img {
        width: 6vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .slide {
    margin-bottom: 0;
    figure {
      img {
        height: auto;
      }
    }
  }

  .slides-bottom {
    grid-template-columns: repeat(5, 1fr);

    h3 {
      font-size: 1.8em;
      margin-left: 2vw;
    }

    .some-icons {
      grid-column: 4/7;
      align-self: end;
      margin-right: 2vw;

      img {
        width: 4vw;
      }
    }
  }
}
