@import "../style/variables";

.sponsors {
  margin: 10vw 4vw;

  img {
    width: 24%;
    border: 3px solid #00000014;
  }
}

@media screen and (min-width: 768px) {
  .sponsors {
    img {
      width: 16%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sponsors {
    margin: 10vw 4vw 10vw 6vw;
  }
}
